@model MvcApplication2.Models.head
@{
    ViewBag.Title = "XmlReader";
}

<h2>XmlReader</h2>
@Model.Items.Count()

@Model.Items[0].number

@Model.Items[0].subElement1[0].subnumber
@Model.Items[0].subElement1[0].Value

@Model.Items[1].subElement1[0].subnumber
@Model.Items[1].subElement1[0].Value

